[submodule "external/imspinner"]
	path = external/imspinner
	url = https://github.com/dalerank/imspinner.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
