name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-22.04
    container: ros:iron
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Build
        run: |
          . /opt/ros/$ROS_DISTRO/setup.sh
          cd $GITHUB_WORKSPACE/..
          colcon build --packages-select rig_reconfigure
